<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="server" value="localhost"/>
    <add key="database" value="test"/>
    <add key="uid" value="root"/>
    <add key="password" value="root"/>
    <add key="url_logger" value="c:/logger/"/>
    <add key="activationRecuperationOutils" value="true"/>
    <add key="activationReadStation" value="true"/>
    <add key="activationReadPrix" value="false"/>
    <add key="activationActionCommunaute" value="true"/>
    <add key="activationUserService" value="true"/>
    <add key="activationActionAdmin" value="true"/>
    <add key="id_user_base" value="1"/>
    <add key="mail_no_reply" value="projetessencemiage@gmail.com"/>
    <add key="host_mail" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="identifiant_mail" value="projetessencemiage@gmail.com"/>
    <add key="mdp_mail" value="cmmmtt6miage"/>
    <add key="corps_mail" value="C:\Users\Marc\Desktop\corp_mail_mdp_oublier.html"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WcfService1.AffichagePrix" behaviorConfiguration="AffichePrixBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://projetm2miage.no-ip.biz:8084/AffichagePrix.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IAffichagePrix" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WcfService1.RecuperationOutilsDonnees" behaviorConfiguration="RecuperationOutilsDonneesBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://projetm2miage.no-ip.biz:8084/RecuperationOutilsDonnees.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IRecuperationOutilsDonnees" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WcfService1.ActionCommunaute" behaviorConfiguration="ActionCommunauteBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://projetm2miage.no-ip.biz:8084/ActionCommunaute.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IActionCommunaute" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WcfService1.UserService" behaviorConfiguration="UserServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://projetm2miage.no-ip.biz:8084/UserService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WcfService1.ActionAdmin" behaviorConfiguration="ActionAdminBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://projetm2miage.no-ip.biz:8084/ActionAdmin.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="WcfService1.IActionAdmin" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AffichePrixBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="RecuperationOutilsDonneesBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ActionCommunauteBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="UserServiceBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
         <behavior name="ActionAdminBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <!--modules runAllManagedModulesForAllRequests="false"/-->
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
